In [24]:
#global variable

a=5

def function(n):
    #a=10     #local variable
    b=15
    global a
    a=a+50
    print(a,b)
    print(n,"this is me..")
print()
function("hi guys")

55 15
hi guys this is me..

In [28]:
#impicit conversion
a=10
b=3
x=a/b
print(x)
print(type(x))

a="xyz"
b="sjgsghhk"
x=a+b
print(x)
print(type(x))

a=2.567
b=3
x=a+b
print(x)

3.3333333333333335
<class 'float'>
xyzsjgsghhk
<class 'str'>
5.567

In [36]:
#emplicit conversion

a=20
b=6
x=a/b
print(type(x))
int_x=int(x)
print(int_x)

<class 'float'>
3

In [46]:
#__init__function   #self function

class school:
    def __init__(self,Eng,Sci):
        self.Eng=Eng
        self.Sci=Sci
c1=school(87,93)
print(c1.Eng)
print(c1.Sci)

87
93

In [23]:
#lambda Function 

var=lambda x,y: x+y
var(3,8)

11

In [15]:
#break 

var=(1,3,5,6,7,9000,123,5,67,89,3.3,5,78,9,133143,7769)
for i in var:
    print(max(var),"The Highest value")
    break
for i in var:
    print(min(var),"The Lowest number")
    break

133143 The Highest value
1 The Lowest number

In [18]:
#continue statement
for i in range(1,10):
    if i==6:
        continue
    else:
        print(i,end=" ")

1 2 3 4 5 7 8 9

In [26]:
#pass 
for i in range(1,10):
    if i==9:
        pass
    else:
        print(i,end=" ")

1 2 3 4 5 6 7 8

In [29]:
#[::-1]
str="Navi is a good boy"
print(str[::-1])

yob doog a si ivaN

In [1]:
#empty class

#class employee():
    
    
#difference between list and tuple

#list=list is mutable 

#list=[]


#tuple= it is immutable.
#tu=()

#Gen random numbers in python

import random
print(random.randint(0,9))
        
        
#capatalised the first letter of string

str="delhi is the capital of India"
str=str.title()
print(str)

6
Delhi Is The Capital Of India

In [4]:
#is operator 
#1.To compare the memory location of two objects.
#when it same then it return "true" otherwise "false"
#ex1
a=10
b=10
a is b

#ex 2
a=10
b='10'
a is b


#in operator
#check an element is found .
Garage=["Bike","Car","Bus","Truck"]
print("Cycle" in Garage)
print("Bike" in Garage)
print("Bus" in Garage)



#not operator
#return true if they return flase value.
#return false if they return true value.
x=10
if not x>10:
    print("not returned true")
else:
    print("not returned false")

False
True
True
not returned true

In [68]:
#iterators-object that contains a sequence or countable values.

my_list=[4,7,2,1]
#get an iterator using iter()
my_iter=iter(my_list) 
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

4
7
2
1

In [2]:
#iterable - capable of returning its member at one time.

names=[("Amar",90),("Deepak",60),("Navi",99)]
for entry in names:
    print(entry)

('Amar', 90)
('Deepak', 60)
('Navi', 99)

In [12]:
#negative index-pick values from the right side 

l=(1,3,5,7,8)
print(l[0:-2])
print(l[0:-4])

(1, 3, 5)
(1,)

In [13]:
#randomize the items of a list in place in Python
import random
l=[12,4,7,9,5]
random.shuffle(l)
print("reshuffled.l: ",l)

reshuffled.l:  [9, 5, 4, 7, 12]

In [9]:



# Display the powers of 2 using anonymous function


# Uncomment code below to take input from the user
terms = int(input("How many terms? "))

# use anonymous function
result = list(map(lambda x: 2 ** x, range(terms)))

print("The total terms are:",terms)
for i in range(terms):
    print("2 raised to power",i,"is",result[i])

How many terms? 8
The total terms are: 8
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128